In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('pessoas.csv', sep=",")

In [7]:
df

     name   age sex
0    Tati  26.0   F
1  Simeia  48.0   F
2  Felipe  22.0   M
3  Freddy   NaN   M